{% extends 'base.html'%}
{% import 'macro.html' as macro%}

<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
<!-- Content block -->
{% block content %}

<div class="container">
    <form>
        <input type="text" name="movie_query" placeholder="Search for a Movie" class="form-control">
        <input type="submit"  value="Submit" class="btn btn-default">
    </form>

</div>

<!-- Popular movie -->
<h3> Popular Movies</h3>
<ul>
    {{ macro.displayMovieList(popular)}}
</ul>
<!-- Upcoming movie  -->
<h3> Upcoming Movies </h3>
<ul>
    {{ macro.displayMovieList(upcoming)}}
</ul>
<!-- Now showing movie -->
<h3>Now Showing</h3>
<ul>
    {{ macro.displayMovieList(now_showing)}}
</ul>



{% endblock%}

